<html>
<div class="container my-3">
  <div class="my-3 border-bottom">
    <div>
      <h4>프로필</h4>
    </div>
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">사용자ID</label>
    <span th:text="${member.username}" ></span>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">비밀번호</label>
    <span>************</span>
  </div>
  <form th:action="@{/member/modify}" th:object="${modifyMemberDto}" method="post">
    <div th:replace="global/form_errors :: formErrorsFragment"></div>
    <div class="mb-3">
      <label for="email" class="form-label">이메일</label>
      <input type="email" th:field="*{email}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="nickname" class="form-label">작가명</label>
      <input type="text" th:field="*{nickname}" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">수정 완료</button>
  </form>
</div>
</html>