<html>
<div class="container my-3">
  <div class="my-3 border-bottom">
    <div>
      <h4>프로필</h4>
    </div>
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">사용자ID</label>
    <span type="text" th:text="${member.username}" ></span>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">비밀번호</label>
    <span type="text">************</span>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">이메일</label>
    <span type="text" th:text="${member.email}" ></span>
  </div>
  <div class="mb-3">
    <label for="nickname" class="form-label">작가명</label>
    <span type="text" th:text="${member.nickname}"></span>
  </div>
  <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/member/modify}">내 프로필 수정</a>
</div>
</html>